stamp-h1
doc/stamp-vti
doc/version.texi
doc/yafc.info
Makefile
Makefile.in
config.h*
config.log
config.status
configure
.deps
aclocal.m4
libtool
autom4te.cache/
lib/libfoo.a
src/yafc
src/yafcrc.h
src/ftp/libftp.a
src/libmhe/libmhe.a
contrib/*.spec
