# from make
stamp-h1
doc/stamp-vti
doc/version.texi
doc/yafc.info
.deps
lib/libfoo.a
src/yafc
src/yafcrc.h
src/ftp/libftp.a
src/libmhe/libmhe.a
contrib/*.spec

# from auto* tools
aclocal.m4
libtool
autom4te.cache/
Makefile
Makefile.in
config.h*
config.log
config.status
configure
support/
cf/libtool.m4
cf/ltoptions.m4
cf/ltsugar.m4
cf/ltversion.m4
cf/lt~obsolete.m4

# Build files
src/*.o
src/ftp/*.o
src/libmhe/*.o
lib/*.o
