body {
 font-family: verdana,tahoma,arial,helvetica,sans-serif;
 font-size: small;
 margin-top: 0px;
 margin-left: 0px;
 margin-right: 0px;
 background: white;
 color: black;
}

div.main {
 color: black;
 background: #eee;
 border: 1px dashed black;
 padding: 1em;
 margin: 1em;
}

div.main p {
 margin-left: 1em;
 margin-right: 1em;
 text-align: justify;
}

h1, h2 {
/* border-bottom: 1px solid black;*/
}

a {
 background: transparent;
 color: #049;
 text-decoration: none;
}

a:hover { text-decoration: underline; }

.copyright {
 color: #777;
 background: transparent;
 font-size: x-small;
 margin-left: 1em;
}

div.menu {
 color: black;
 background: #eee;
 border: 1px solid black;
}

div.menu p {
 text-align: center;
 font-size: large;
}

div.menu a {
 padding-left: .5cm;
 padding-right: .5cm;
}

a img {
 border: 0px;
}

div.sflogo {
 text-align: right;
 padding-left: 1em;
}

img.endcite { vertical-align: top; }
